@import '../../scss/abstract/variables';
@import '../../scss/abstract/common';

.filter-wrapper {
  
    // padding: 0 1em 1em 1em;

    .search-btn{
        @include flex-center;
        margin-left: .5em;
        cursor: pointer;
        font-size: smaller;

    }
}

.col {
    flex-direction: column;
}

.filter-price-input{
    width: 90px;
    text-align: center;
}