.top-header-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    div{
        text-align: center;
        width: 100%;
    }

    h1 {
        font-size: 38px;
    }

}